body {
    background: #202020;
    color: white;
}

.alert {
    width: max-content;
    position: fixed;
    z-index: 4;
    top: 5%;
    right: 3%;
    animation: fadeOut 3s forwards;
    animation-delay: 3s;
}

.navbar-brand {
    font-family: 'Spicy Rice', cursive;
    font-size: 1.5rem;
}


header img {
    width: 1600%;
}